<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <p class="notification_reg">After registration, check your email to confirm</p>
        <form action="/auth/register" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="button">Register</button>
        </form>
        <a href="/" class="button">Back to Home</a>
    </div>
</body>
</html>